/venv/
/.idea/
/PluralSight/AdvancedPython/Byte-oriented-programming/after/binread/.idea/
/PluralSight/AdvancedPython/Byte-oriented-programming/reader/.idea/
/PluralSight/AdvancedPython/Object-internals-and-custom-attributes/resistor/.idea/
/PluralSight/AdvancedPython/Object-internals-and-custom-attributes/vector/.idea/
/PluralSight/AdvancedPython/Descriptors/datadescriptor/.idea/
/PluralSight/AdvancedPython/Descriptors/planets/.idea/
/PluralSight/Python-BeyondTheBasics/Properties-and-class-methods-slides/demos/examples/properties-and-class-methods/.idea/
/PluralSight/Python-BeyondTheBasics/Implementing-collections-slides/demos/implementing-collections/.idea/
/PluralSight/Python-BeyondTheBasics/Exceptions-and-errors-slides/demos/demos/exceptions/.idea/
PluralSight/Python-BeyondTheBasics/Exceptions-and-errors-slides/demos/demos/exceptions/.DS_Store
PluralSight/Python-BeyondTheBasics/Exceptions-and-errors-slides/demos/demos/.DS_Store
PluralSight/Python-BeyondTheBasics/Implementing-collections-slides/demos/implementing-collections/.DS_Store
PluralSight/Python-BeyondTheBasics/Properties-and-class-methods-slides/demos/examples/.DS_Store
PluralSight/AdvancedPython/Descriptors/datadescriptor/.DS_Store
PluralSight/AdvancedPython/Byte-oriented-programming/before/.DS_Store
PluralSight/AdvancedPython/Byte-oriented-programming/after/binread/.DS_Store
PluralSight/Python-BeyondTheBasics/Numeric-and-scalar-types-slides/demos/demos/collinearity/graphical/__pycache__
PluralSight/Python-BeyondTheBasics/Properties-and-class-methods-slides/demos/examples/properties-and-class-methods/__pycache__
